@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Nanum Barun Gothic', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

strong {
    color: #105377;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
}

h1,
h2,
h3 {
    color: #0077b6;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    margin-bottom: 3rem;
}

#wrap {
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 4rem 0;
    border-bottom: 1px solid #eee;
}

/* 반응형 */

@media all and (max-width:1080px) {
    #wrap .project ul li {
        flex-basis: 31.33%;
    }

}

@media all and (max-width:800px) {

    h2 {
        margin-bottom: 1rem;
    }

    #wrap .introduction {
        display: block;

    }

    .introduction div:last-child {
        padding-top: 3rem;
    }

    #wrap .edulic {
        display: block;
    }

    .certificates {
        margin-top: 3rem;
    }


    #wrap .project ul {
        gap: 10px 2% ;
    }

    #wrap .project ul li {
        flex-basis: 49% ;
    }

    /* modal */

    .modal_cover .modal .modal_contents {
        display: block ;
    }

    .modal_left {
        margin-bottom: 2rem;
    }

    .modal_cover .modal .contents_detail div video{
        width:90%;
    }

}

@media all and (max-width:500px) {

    section {
        padding: 2rem 0;
    }

    .project ul {
        gap: 0;
    }

    #wrap .project ul li {
        flex-basis: 100% ;
    }

    .modal_cover .modal{
        padding:30px ;
    }

    .modal_cover .modal .contents_detail div{
        padding: 2rem 0;
    }

    .modal_cover .modal .contents_detail div video{
        width:100%;
    }
}

/* introduction */

.introduction {
    display: flex;
    gap: 20px;
}

.introduction div h3 {
    margin-bottom: 5px;
}

.introduction>div:nth-child(1) p {
    margin-top: 10px;
    white-space: pre-line;
    line-height: 1.5;
}

.introduction>div:nth-child(2) p {
    padding: 5px 0;
    line-height: 1.2;
}

.introduction>div:nth-child(2) p strong {
    margin-right: 7px;
    font-weight: 600;
}

.introduction>div:nth-child(2) p a {
    word-break: break-all;
}

.introduction>div:nth-child(2) p a:hover {
    text-decoration: underline;
}

/* edulic */
.edulic {
    display: flex;
    gap: 20px;
}

.edulic>div {
    flex: 0 0 50%;
}


/* education */

.education table {
    border-collapse: collapse;
    text-align: left;
}

.education table tr th,
.education table tr td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* certificates */

.certificates ul li {
    padding-bottom: 10px;
    word-break: keep-all;
}

.certificates ul li span {
    margin: 0 5px;
}

.certificates ul li span:nth-child(1) {
    color: #999;
}

.certificates ul li span:nth-child(3) {
    font-size: 12px;
    word-break: keep-all;
}


/* skill */

.skill div {
    display: flex;
    gap: 20px;
}

.skill div:not(:last-child) {
    margin-bottom: 30px;
}

.skill div strong {
    display: inline-block;
    width: 100px;
}

.skill ul {
    margin-left: 10%;
}

.skill ul li {
    padding-bottom: 5px 0;
    list-style: disc;
}

/* project */
.project ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 2%;
}

.project ul li {
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;

    flex-basis: 23.5%;
}

.project ul li:hover {
    transition: 0.7s;
    border-color: #999;
    box-shadow: 2px 2px 5px #ddd;
}

.project ul li div:first-child {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.project ul li div:first-child img {
    width: 100%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project ul li div {
    border: 1px solid #eee;

    margin-bottom: 20px;
}

.project ul li span {
    display: block;
    font-size: 14px;
    color: #999;
}

.project ul li strong {
    color: #105377;
    display: inline-block;
    margin: 3px 0 5px 0;
}

.project ul li p {
    font-size: 14px;
}

/* footer */
footer {
    text-align: center;
    margin: 100px 0 10px;
    font-size: 12px;
}


/* modal */
.modal_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 1;
    display: none;

}

.modal_cover .modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    height: 90vh;
    overflow-y: auto;
    padding: 50px;
    box-sizing: border-box;

    display: none;
}

/* modal_contents */

.modal .modal_contents {
    width: 100%;
    display: flex;
    gap: 8%;
    justify-content: space-between;
}

.modal .modal_contents>div {
    flex: 1 1 50%;
}

/* modal_left */

/* .modal_contents .modal_left {
    background-color: pink;
} */

.modal_contents .modal_left>span {
    font-size: 14px;
    color: #999;
}

.modal_contents .modal_left h1 {
    font-size: 1.8rem;
}

.modal_contents .modal_left img {
    width: 100%;
    margin: 20px auto;
    border:1px solid #ddd;
}

.modal_contents .modal_left>.modal_link {
    font-size: 14px;
    margin-top: 5px;
}

.modal_contents .modal_left>.modal_link a {
    color: #999;
    text-decoration: underline;
}

.modal_contents .modal_left div:last-child div p {
    font-weight: bold;
}

.modal_contents .modal_left div:last-child div:nth-child(2) {
    margin-top: 10px;
}

/* modal_right */

/* .modal_contents .modal_right {
    background-color: skyblue;
} */

.modal_right .right_contents div span {
    font-size: 18px;
    font-weight: bold;
    position: relative;

    display: inline-block;
    /* background: linear-gradient(180deg, #105377 50%, #fff 50%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */

}

.modal_right .right_contents div span:before {
    display: block;
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;

    width: 100%;
    height: 80%;
    padding: 0 7px;
    /* #0077b6 #105377 619dbd */
    background-image: linear-gradient(450deg, #f3fbff, #b8e6ff);
    filter: blur(5px);
    -webkit-filter: blur(3px);

}

.modal_right .right_contents div p {
    margin: 30px 0;
    white-space: pre-line;
    text-align: justify;
}

/* contents.detail */

.contents_detail div{
    text-align: center;
    padding: 8rem 0;
}

.contents_detail div h2{
    margin-bottom: 3rem;
}

.contents_detail div video{
    width:70%;
    display:block;
    margin: 0 auto;
    text-align: center;
}

/* close */

.modal .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;

    float: right;
}

.modal .close:before,
.modal .close:after {
    display: block;
    content: '';
    width: 1px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #000;
}

.modal .close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal .close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal .modal_round {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 15px;
    background-color: #105377;

    font-size: 14px;
    color: #fff;
    margin-top: 4px;
}